body{
  padding: 5%;
  font-size: 1em;
}
h1{
  font-family: monospace;
  font-size: 2em;
}
.intro{
  font-family: Arial;
}
.calculator{
  text-align: center;
  font-family: Arial;
  font-size: 1.1em;
}
input[name = "inputs"]{
  width: 25px;
  padding: 0.5%;
}
